{% extends 'base/base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Lista de Topologías</title>




</head>

<body>
   

   {% block content %}
   <div class="pagetitle">
      <h2>Lista de Topologías</h2>
   </div>
   <div class="main-button">
      <a href="{% url 'create-topology' %}">
         <button>Crear Topología</button>
      </a>
   </div>


   <section class="section">
      <div class="row">
         <div class="col-lg-12">
            <div class="card">
               <div class="card-body">
                  <h5 class="card-title">Listado</h5>
                  <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                     <div class="datatable-top">
                        <div class="datatable-dropdown">
                           <label>
                              <select class="datatable-selector">
                                 <option value="5">5</option>
                                 <option value="10" selected="">10</option>
                                 <option value="15">15</option>
                                 <option value="20">20</option>
                                 <option value="25">25</option>
                              </select> Filas por página
                           </label>
                        </div>
                        <div class="datatable-search">
                           <input class="datatable-input" placeholder="Search..." type="search"
                              title="Search within table">
                        </div>
                     </div>

                     <div class="datatable-container">
                        <table class="table datatable datatable-table">
                           <thead>
                              <tr>
                                 <th>#</th>
                                 <th>Nombre</th>
                                 <th>Descripción</th>
                                 <th>Acciones</th>
                              </tr>
                           </thead>
                           <tbody>

                              {% for topology in topologies %}
                              <tr>
                                 <td>{{topology.id}}</td>
                                 <td>{{topology.name}}</td>

                                 <td>{{topology.description}}</td>

                                 <td>

                                    <a href="#">Eliminar</a>
                                    <button href="{% url 'vms' %}">Ver Mv</button>
                                 </td>
                              </tr>
                              {% empty %}
                              <tr>
                                 <div>
                                    <h5>No hay Elementos en esta lista</h5>
                                 </div>


                              </tr>


                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                     <div class="datatable-bottom">
                        <div class="datatable-info">
                           Mostrando 1 a 5 de 5 entradas
                        </div>
                        <div class="datatable-pagination">
                           <ul class="datatable-pagination-list"></ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   {% endblock content %}
</body>

</html>