{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Pantalla de Logueo</title>

   <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
   
   <style>
      /* Estilos personalizados */
      .container.login-container{
         
         margin-top: 210px;
         padding: 0px 200px;
      }
      .card-body {
         margin-top: 20px;
         padding: 0px 40px;
      }
      .text-center {
         margin-top: 10px;
      }
      
  </style>
</head>

<body>
   <div class="container login-container">
      <div class="row justify-content-center">
         <div class="col-md-6 ">
            <div class="card">
               <div class="card-header">
                  <h3 class="text-center">Iniciar Sesión</h3>
               </div>
               <div class="card-body">
                  <form method="post">
                     {% csrf_token %}
                     <!-- {{ form.as_p }} -->
                     <div class="text-center">
                        <!--
                           <div class="form-group">
                           <label for="{{ form.username.id_for_label }}" class="form-label">Usuario:</label>
                           <div class="centered-input">
                              {{ form.username }}
                           </div>
                        </div>

                        <div class="form-group" class="mb-3">
                           <label for="{{ form.password.id_for_label }}" class="form-label">Contraseña:</label>
                           <div class="centered-input">
                              {{ form.password }}
                           </div>
                        </div>
                        -->

                        <div class="form-floating">
                           <input class="form-control" id="floatingInput" >
                           <label for="floatingInput">Usuario</label>
                         </div>

                        <div class="form-floating">
                           <input type="password" class="form-control" id="floatingPassword">
                           <label for="floatingPassword">Contraseña</label>
                        </div>

                        
                     </div>
                     <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-block mx-auto">Iniciar Sesión</button>
                     </div>
                  </form>
                  <div class="text-center">
                     <p>No tienes una cuenta?<a href="{% url 'registro' %}">Regístrate</a></p>
                  </div>
                  
               </div>
            </div>
         </div>
      </div>
   </div>






   <!--

  
   <h1>Inicio de Sesión</h1>

   <form method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <input type = "submit" value = "Ingresar">

   </form>

   <p>No tienes una cuenta?<a href="{% url 'registro' %}">Regístrate</a></p>
   -->
</body>

</html>